:root {
    --light-color: #212529;
    --light-second-color: #f5f6fa;
    --light-background: #80AF81;
    --light-second-background: #508D4E;

    --dark-color: #909090;
    --dark-second-color: #f5f6fa;
    --dark-background: #23242D;
    --dark-second-background: #181818;
}

.light {
    --main-bg-color: var(--light-background);
    --second-bg-color: var(--light-second-background);
    --main-color: var(--light-color);
    --second-color: var(--light-second-color);
}

.dark {
    --main-bg-color: var(--dark-background);
    --second-bg-color: var(--dark-second-background);
    --main-color: var(--dark-color);
    --second-color: var(--dark-second-color);
}

.light .logo-dark,
.light .light-icon {
    display: none;
}

.dark .logo-light,
.dark .dark-icon {
    display: none;
}


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg-color);
    color: var(--main-color);

}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    letter-spacing: .2rem;
}


/* Header */
.nav-link {
    color: var(--second-color);
    font-size: 2.5rem;
    margin: 10px;

}

.nav-link:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: var(--second-color);
}

.header .brand h2 {
    color: var(--second-color);
}

.header .brand h2:hover {
    color: var(--second-color);
    border-bottom: .1rem solid var(--second-color);
    padding-bottom: .5rem;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--second-color);
}

.header .navbar a:hover {
    color: var(--second-color);
    border-bottom: .1rem solid var(--second-color);
    padding-bottom: .5rem;
    opacity: 0.7;
    transition: all 0.3s ease;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    color: var(--second-color);
    background: var(--second-bg-color);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 10px;
}

.header .search-form.active {
    transform: scaleY(1);

}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--second-color);
    background: var(--second-bg-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 10px;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--second-color);
}

.header .search-form label:hover {
    color: var(--second-color);
}

.navbar i {
    padding-right: 3px;
}

/* End Header */


/* Home */
.home {
    margin-top: 11rem;
}

.home .row {
    display: flex;
    align-items: center;
    color: var(--second-color);
    background: var(--second-bg-color);
    flex-wrap: wrap;
    border-radius: 20px;
}

.home .row .image {
    flex: 1 1 45rem;
}

.home .row .image img {
    width: 70%;

}

.home .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
    border: 1px solid;
    border-radius: 20px;
    margin-right: 3rem;

}

.home .row .content h3 {
    font-size: 3rem;
    color: var(--second-color);
}

.home .row .content p {
    font-size: 1.6rem;
    color: var(--second-color);
    padding: 1rem 0;
    line-height: 1.8;
}

/* End Home */


/* Special-Posts */
.special-posts .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.special-posts .box-container .box {
    background: var(--second-bg-color);
    border-radius: 20px;
}

.special-posts .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.special-posts .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}

.special-posts .box-container .box:hover .image img {
    opacity: 0.7;

}

.special-posts .box-container .box .content {
    padding: 2rem;
}

.special-posts .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--second-color);

}

.special-posts .box-container .box .content .title:hover {
    color: var(--second-color);
}

.special-posts .box-container .box .content span {
    color: var(--second-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--second-color);
}

.special-posts .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: var(--second-color);
}

/* End Special-Posts */


/* Apps & Games*/
.apps .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.apps h2 {
    font-size: 4rem;
    color: var(--second-color);
    text-align: center;
    margin: 2rem;
}

.apps .box-container .box {
    padding: 5rem;
    text-align: center;
    border-radius: 20px;
    background: var(--second-bg-color);
}

.apps .box-container .box img {
    width: 70%;
}

.apps .box-container .box h3 {
    color: var(--second-color);
    font-size: 2rem;
    padding: 1rem 0;
}

.apps .box-container .box p {
    color: var(--second-color);
    font-size: 1.5rem;
}

.apps .box-container .box:hover {
    opacity: 0.7;
    transition: all 0.3s ease;
}

/* End Apps & Games*/


/* Contact */
.contact .row {
    display: flex;
    background: var(--second-bg-color);
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 20px;
    padding: 2rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--second-color);
}

.contact .row form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--second-color);
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
}

.contact .row form .inputBox span {
    color: var(--second-color);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--second-color);
    text-transform: none;
    background: none;
}

/* End Contact */


/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    background: var(--second-bg-color);
    color: var(--second-color);
    padding: 80px 20px 30px 20px;
    flex-wrap: wrap;

}

.footer .social-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
    margin-top: -90px;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--second-color);
    border: 1px solid;
    margin: 0.3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    opacity: 0.7;
}

.footer .social-icons-container .share {
    display: flex;
}

.footer .mr-draclyr {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

/* End Footer */


/* Media Queries for responsiveness */
@media (max-width:924px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    .nav-link {
        margin: 5px;
    }

    .home .row .content {
        margin: 3rem 3rem;
    }

    .apps .box-container .box {
        width: 80%;

        margin: 0 5rem;
    }
}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 115%;
        right: -100%;
        background: var(--second-bg-color);
        width: 30rem;
        height: calc(100vh - 9.5rem);
        border-radius: 10px;
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home .row .image img {
        width: 100%;
    }

    .home .row .content {
        margin: 3rem 3rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}

/* End Media Queries for responsiveness */